@import '../shared/colors';
@import '../shared/layers';

.header {
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  padding: 1rem 5%;
  text-align: center;
  z-index: $layer-header;

  $shadow-color: $primary;
  h1 {
    font-family: 'Bungee';
    font-size: 52px;
    color: white;
  }

  svg {
    display: inline-block;
    margin: 0 5%;
    width: 4rem;
    height: 4rem;
    fill: white;
  }

  &:after {
    content: '';
    height: 2px;
    flex-grow: 1;
    background: white;
  }

  h2 {
    font-size: 26px;
    color: $base;
  }
}
