@import '../shared/colors';

.header {
  position: fixed;
  width: 100%;
  padding: 2rem;
  z-index: 15;

  h1 {
    font-family: 'Bungee';
    font-size: 52px;
    color: $primary;
    //text-shadow: 2px 2px 0 mix($primary, black, 20%);
  }

  h2 {
    font-size: 26px;
    color: white;
    //text-shadow: 2px 2px 0 mix($contrast, black, 20%);
  }
}
