@import '../shared/colors';
@import '../shared/layers';
@import '../shared/transitions';

.header {
  display: flex;
  position: absolute;
  align-items: center;
  top: 8rem;
  left: 0;
  right: 0;
  padding: 1rem 5%;
  text-align: center;
  z-index: $layer-header;
  text-shadow: 2px 2px 0 rgba(black, 0.3);

  h1 {
    font-family: 'Bungee';
    font-size: 52px;
    color: white;
  }

  h2 {
    font-size: 26px;
    color: $base;
  }

  .button {
    margin-left: 1rem;
    font-size: 22px;
  }
}

.header__deco {
  flex-grow: 1;
  fill: $primary;
  svg {
    display: inline-block;
    margin: 0 0.5rem;
    width: 4rem;
    height: 4rem;
  }
}

.header__details {
  display: flex;
  align-items: center;
  color: white;
  text-align: right;
}

@media screen and (max-width: 1030px) {
  .header {
    h1 {
      font-size: 42px;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  .header__details {
    align-items: flex-end;
    flex-direction: column;
  }
}
