.banner {
  position: relative;
  height: 500px;
  background: #ccc;
}

$size-ball: 40rem;
$size-pin: 20rem;
$pin-color: #555;

.ball { display: none; }

.pin {
  width: $size-pin;
  height: $size-pin;
  margin-left: $size-pin / -2;
}

.banner__row {
  position: absolute;

  // Place pins in 4 rows, offsetting
  // each a tiny bit higher.
  /**
    * - - - -   :nth-child(0) 0%
    *  - - -    :nth-child(1) 10%
    *   - -     :nth-child(2) 20%
    *    -      :nth-child(3) 30%
    */
  @for $i from 0 through (3) {
    &:nth-child(#{$i + 1}) {
      top: $i * 10%;
      svg {
        fill: mix(white, $pin-color, $i * 10);
      }
    }
  }

  // Explodey rotations
  &:nth-child(2) svg {
    transform: rotate(45deg);
  }
}

