@import '../shared/colors';

.home {
  padding: 2rem;
  line-height: 1.3;
  margin: auto;

  .panel {
    min-height: 16rem;
    min-width: 16rem;
  }

  .panel__title {
    white-space: pre-wrap;
    word-break: break-word;
  }

  .panel__text {
    font-family: 'Bungee';
    font-size: 24px;
  }

  .panel__subtitle {
    font-family: Arial, Helvetica, sans-serif;
  }

  .promo-grid {
    max-width: 110rem;
    margin: auto;
  }
}

.home__promo {
  margin: 0 -2rem;
  padding: 8rem 3rem;
  background: rgba(black, 0.2);
  clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
}

.home__about {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  > div {
    max-width: 40rem;
    margin: 0 1rem;
  }

  .paragraph {
    width: 100%;
  }

  .button {
    margin-top: 2rem;
  }

  @media screen and (max-width: 720px) {
    display: block;

    > div {
      margin-bottom: 4rem;
    }
  }
}
