@import './reset';
@import '../shared/colors';

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $base;
  font-family: Arial, Helvetica, sans-serif;
  background: $base; /* fallback for old browsers */
  background-image: linear-gradient(to bottom right, $primary, $base);
  background-color: mix($primary, $base, 50%);
  background-attachment: fixed;
  //background-repeat: no-repeat;
}

.app__content {
  position: absolute;
  top: calc(100vh - 20rem);
  left: 0;
  right: 0;
  padding-left: 34rem;
  padding-right: 2rem;
  padding-top: 5rem;
  background: $base;
  min-height: 2000px;
  z-index: 10;
  color: $text;

  overflow: hidden;
  clip-path: polygon(0 5rem, 100% 0%, 100% 100%, 0% 100%);
}
