@import './reset';
@import '../shared/colors';
@import '../shared/layers';

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: mix($base, black, 60%);
  font-family: Arial, Helvetica, sans-serif;
}

.app__content {
  position: absolute;
  top: 80vh;
  left: 0;
  right: 0;
  padding-left: 34rem;
  padding-right: 2rem;
  padding-top: 6rem;
  background: $base;
  min-height: 2000px;
  z-index: $layer-app;
  color: $text;
  overflow: hidden;
  clip-path: polygon(0 5rem, 100% 0%, 100% 100%, 0% 100%);
}

h2 {
  color: white;
  font-size: 32px;
}

h3 {
  font-size: 24px;
  margin-bottom: 2rem;
}
