@import '../shared/colors';

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom right, $primary, $base);
  background-color: mix($primary, $base, 50%);
  background-attachment: fixed;
  z-index: -1;

  svg {
    position: absolute;
    top: 0;
    fill: rgba($base, 0.1);

    @for $i from 1 through (4) {
      &:nth-child(#{$i}) {
        top: 10rem * ($i - 1);
      }
    }
  }
}
